
$background-super-0: #100d14;
$background-0: #18141f;
$background-0-and-a-half: #231e2e;
$background-1: #2b2438;
$background-2: #3e3450;
$background-3: #5F507C;

$accent-purple: #e384f2;
$accent-pink: #ec8fd0;
$accent-yellow: #fbe7c6;
$accent-teal: #89DCEB;
$accent-green: #ABE9B3;
$accent-red: #F38BA8;
$accent-light-pink: #f2c5e0;
$text-color: #EBEBFF;

.bar {
  background-color:#100d14; 
}

.bar-left,
.bar-center,
.bar-right,
.bar-left-hyprland,
.bar-center-hyprland,
.bar-right-hyprland,
.bar
{
    font-family: Hack Nerd Font, monospace;
    // border: 1px solid red;
    color: $text-color;
    // padding: 5px 0px;
    font-size: 14px;
    .bar-pill {
        margin: 0 3px;
        padding: 4px 4px;
        // border-radius: 9999px;

        // background-color: $background-0;
        // border: 1px dashed $accent-light-pink;
    }
    .bar-wrap {
        margin: 0 5px;
    }
}

.keyboardlayout {
    padding-bottom: 2px;
    margin-left: 8px;
    font-family: Hack, "nasin nanpa";
}
.menuicons {
    all:unset;
    color: #7b7b8a;
    border: 2px solid transparent;
    border-left: 2px solid $text-color;
    border-right: 2px solid $text-color;
    // border-bottom: 2px solid $text-color;
    border-radius: 9999px;
    padding: 0px 10px;
    padding-right: 11px;
    margin: 0;
    &:hover {
        border: 2px solid $text-color;
        border-radius: 9999px;
        padding: 0px 10px;
        padding-right: 11px;
        background-color: $text-color;
        color: $background-0;
    }
    &:hover * {
        color: $background-0;
    }
}

.fullscreen-icon {
    &.enabled {
        color: #F38BA8;
    }
    color: #7b7b8a;
    font-size: 18px;
    padding-right: 2px;
}

.group {
    all: unset;
}

.timeweather {
    font-size: 13px;
    // border-radius: 9999px;
}

@mixin bar-group {
    font-weight: bolder;
    margin: 0px 2px;
    padding-left: 4px;
    padding-right: 5px;
    border-radius: 9999px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    &:hover, &:active {
        all: unset;
        border-bottom: 2px solid transparent;
        font-weight: bolder;
        margin: 0 2px;
        border-radius: 9999px;
    }
}
.archicon {
    font-size: 18px;
    padding: 0px 8px;
    color: $accent-pink;
}

.powericon {
    color: $accent-pink;
}

.interneticon {
    color: $accent-yellow;
}

.soundicon {
    color: $accent-teal;
}

.vaulticon.enabled {
    color: $accent-green;
}

.populated {
    @include bar-group;
    color: $text-color;
}
.unpopulated {
    @include bar-group;
    color: #7b7b8a;
}
.primary {
    @include bar-group;
    border-bottom: 2px solid $text-color;
    &:hover, &:active {
        border-bottom: 2px solid $text-color;
    }
}
.visible {
    @include bar-group;
    border-bottom: 2px solid #7b7b8a; 
    &:hover, &:active {
        border-bottom: 2px solid #7b7b8a; 
    }
}

.background.settings-menu, .settings-menu-hyprland {
  font-family: Hack Nerd Font;
    background-color: transparentize($background-0, .10);
    // border-left: 1px solid $background-2;
    // border-bottom: 1px solid $background-2;
    border-radius: 0 0 10px 10px;
    border: 1px solid $background-2;
    border-top: none;
    color: $text-color;
}

.tabbedbox {
    margin: 10px 10px;
}

.tabbedbox__button-left {
    margin-right: 5px;
}

.tabbedbox__button-right {
    margin-left: 5px;
}

.tabbedbox__tabcontainer {
    min-width: 400px;
}
.tabbedbox__circlebutton {
    border-radius: 9999px;
    font-size: 15px;
    margin: 0 5px;
}

.tabbedbox__circlebutton--first {
    border-radius: 9999px;
    font-size: 15px;
    margin-left: 0;
    margin-right: 5px;
}

.tabbedbox__circlebutton--last {
    border-radius: 9999px;
    font-size: 15px;
    margin-right: 0;
    margin-left: 5px;
    padding-left: 8px;
}

.tabbedbox__buttons {
    margin: 5px 0;
}

.tabbedbox__buttons--last {
    margin-bottom: 8px;
}

.confirmtab__message {
    margin: 0 25px;
}

.percentage {
    margin: 5px 0;
    margin-left: 10px;
    margin-right: 5px;
    padding: 0 10px;
    min-width: 40px;
}
//
// .percentage:hover {
//     background-color: $background-3;
// }
//
// .percentage:active {
//     background-color: $background-super-0;
// }


.metric {
    padding: 0 10px;
}

.limitbreaker {
    margin-left: 5px;
}

.limitbreaker.enabled {
    background-color: $text-color;
    color: $background-0;
}

.metric scale {
    // margin-right: 20px;
}

.metric scale trough highlight {
    all: unset;
    background-color: #89DCED;
    color: #000000;
    border-radius: 10px;
}
.metric scale trough {
    all: unset;
    background-color: $background-2;
    border-radius: 50px;
    min-height: 3px;
}

.metric slider {
    background-color: $accent-teal;
    border-color: lighten($background-2, 2%);
    border-width: 4px;
    min-width: 2px;
    min-height: 2px;
}

.metric-label {
    font-size: 20px;
    min-width: 30px;
    &.sink {
        padding-left: 2px;
    }
    &.source {
        padding-left: 1px;
    }
    &.muted {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.vault-list {
    border-radius: 5px;
    margin: 5px 0;
}

.vault-list__entry {
    font-weight: bold;
    margin: 2px 5px;
    padding: 2px 15px;
    border-radius: 25px;
    border: 2px solid transparent;

}

.vault-list__entry button {
    margin: 0 2px;
}

button {
    background-color: transparent;
    border-left: 2px solid $text-color;
    border-right: 2px solid $text-color;
    color: $text-color;
    border-radius: 25px;
    &:hover {
        background-color: $text-color;
        color: $background-0;
    }
}

.button--yellow {
    color: $accent-yellow;
    border-left-color: $accent-yellow;
    border-right-color: $accent-yellow;
    &:hover, &.enabled {
        color: $background-0;
        background-color: $accent-yellow;
    }
}

.button--pink {
    color: $accent-pink;
    border-left-color: $accent-pink;
    border-right-color: $accent-pink;
    &:hover, &.enabled {
        color: $background-0;
        background-color: $accent-pink;
    }
}
.button--green {
    color: $accent-green;
    border-left-color: $accent-green;
    border-right-color: $accent-green;
    &:hover, &.enabled {
        color: $background-0;
        background-color: $accent-green;
    }
}
.button--teal {
    color: $accent-teal;
    border-left-color: $accent-teal;
    border-right-color: $accent-teal;
    &:hover, &.enabled {
        color: $background-0;
        background-color: $accent-teal;
    }
}
.button--red {
    color: $accent-red;
    border-left-color: $accent-red;
    border-right-color: $accent-red;
    &:hover, &.enabled {
        color: $background-0;
        background-color: $accent-red;
    }
}

.eject {
    padding-left: 8px;
}

.mount {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.password__button {
    margin: 10px 10px;
}

.network-list {
    margin-top: 5px;
}

.network-list__separator {
    font-weight: bold;
    margin: 0 5px;
    margin-right: 20px;
    border-bottom: 1px solid $accent-yellow;
}

.connectbutton {
    padding-left: 6px;
}

.wifibutton {
    padding-left: 7px;
    margin-right: 10px;
}

.tray{
  margin-right: 5px;
}

.bin-number {
  font-family: "Liberation Sans";
  font-weight: bold;
  margin-right: 10px;
}

.bin-clock-container {
  font-size: 12px;
  margin: 0;
  padding-top: 7px;
  label {
    margin-top: -8px;
    margin-bottom: 0;
    padding: 0;
  }
}

.hseparator {
  margin: 0px 8px;
}

